body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#wordsGame {
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#Correction {
    color: red; /* Default color for corrections */
    font-size: 18px;
}
